@import 'vars';

.Checkout {
	width: 100%;
	height: 100vh;
	display: grid;
	place-items: center;
}

.title {
	font-size: var(--lg);
	margin-bottom: 40px;
}

.Checkout-container {
	display: grid;
	grid-template-rows: auto 1fr auto;
	width: 332px;
}

.Checkout-content {
	display: flex;
	flex-direction: column;
}
.my-order-content {
	width: 300px;
	border-radius: 8px;
	display: flex;
  flex-direction: column;
	justify-content: space-between;
	margin-bottom: 28px;
}

.article-info {
	display: flex;
	flex-direction: column;
}

.article-info span:first-child {
	color: var(--black);
	font-weight: 600;
	font-size: var(--lg);
}

.article-info span:last-child {
	color: var(--very-light-pink);
	font-weight: 300;
	font-size: var(--sm);
}

.article-price {
	color: var(--dark);
	font-size: var(--lg);
	font-weight: 400;
}

.article-info span {
	margin-bottom: 4px;
}