@use "./vars";

nav {
  display: flex;
  justify-content: space-between;
  padding: 0 46px;
  box-shadow: 0px 1px 5px var(--very-light-pink);
  height: 50px;
}

.menu {
  width: 25px;
  display: none;
}

nav li {
  font-weight: 300;
}

.nav-logo {
  width: 130px;
}

.navbar-left ul,
.navbar-right ul {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
}

.navbar-left,
.navbar-right {
  display: flex;
}

.navbar-left ul {
  margin-left: 24px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.navbar-left ul li {
  margin: 0 10px;
}

.navbar-left ul li a,
.navbar-right ul li a {
  color: var(--very-light-pink);
  text-decoration: none;
  border: 1px solid var(--white);
  padding: 8px;
  border-radius: 8px;
  font-weight: 500;
}

.navbar-left ul li a:hover,
.navbar-right ul li a:hover {
  border: 1px solid var(--hospital-green);
  color: var(--hospital-green);
}

.navbar-right li {
  margin: 0 12px;
  color: var(--black);
  font-size: var(--sm);
}

.navbar-right .flechita {
  transform: rotate(90deg);
  margin-left: -4px;
}
.navbar-shopping-cart {
  position: relative;
  width: 30px;
  height: 30px;
}

@media (max-width: 640px) {
  nav {
    padding: 0 16px;
  }

  .menu {
    display: block;
  }

  .navbar-left ul,
  .navbar-right ul li:first-child,
  .navbar-right ul .flechita {
    display: none;
  }

  .navbar-right li {
    margin: 0;
  }
}
