.ProductDetail {
	width: 360px;
	padding-bottom: 24px;
	position: absolute;
	right: 0;
}

.ProductDetail-close {
	width: 40px;
	height: 40px;
	background-color: white;
	position: absolute;
	top: 12px;
	left: 12px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.ProductDetail-close img {
	width: 15px;
}